  body{
      text-align: center; 
      background-color: white;
      
  }
  h1{
    background-color:darkgreen;
    color:white;
  }
 

  #imgFoto{
    max-height: 180px;
    max-width: 180px;
  }
  h3 {
    font-size:300%
  }
  h4{
    font-size: 40x;
  }


  .text{
    color: black;
  }
  
.text p i{
  color: black;
  

}
.text2 {
color: green;

}

.text2 p i{
  color: black;
}
.text3{
  color: green;
}
.text3 p i {
  color: black;
}
.text4{
  color: green;
}
  #imgLinkedin{
    max-width: 80px;
  }
  /*elementos estruturais*/

  .tudo {
	border:solid 1px #ffffff;
	width: 95%;
	margin: 0 auto;
	}
    .linha{
        clear: both; /* garante a posição abaixo da divs superiores (esquerda e direita),  */
    }
    
    .esquerda #imgFoto {	
			 
        width: 100%;
        height: 400px;
        float: left; 
        background-color: #666666; 
        color: #ffffff;
        border-radius: 50%;
    }
   
    .tituloDados{
      color: green;
    }
  
h2{
  margin-bottom: 0px;
  color: green;
  text-align: left;
}
  
     
    
.unica{

   height: 1px;
   text-align: left;
  }

